html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #7768ae;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* https://coolors.co/4d9de0-e15554-e1bc29-3bb273-7768ae */