.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #7768ae;
  color: #ffffff;
  font-size: 2rem;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;

  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* repeat 9x9 */
.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 3px;
  padding: 3px;
  background-color: #ffffff;
  width: 300px;
  height: 300px;
}

.grid div {
  background-color: #7768ae;
}

.buttons button {
  background-color: #7768ae;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  margin-top: 3rem;
}

.buttons button:hover {
  background-color: #e15554;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 1rem;
  }

  .grid {
    width: 50vw;
    height: 50vw;
  }

  .buttons button {
    font-size: 1rem;
    padding: 2px 5px;
  }
}